body {
	background: rgb(37, 37, 37);
	color: white;
	padding: 1%;
	max-height: 100%;
    height: 100%;
}

#logout *{
	margin: 0;
	padding: 0;
}

#logout p,
#logout button{
	font-size: 1.3em;
	padding: 5px;
}

#logout p {
	padding-right: 15px;
}

#logout button {
	color: black
}

.row {
	margin-bottom: 15px;
}

#colonne {
	color: black;
}

div.tabulator-cell[tabulator-field="ID"] {
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	font-weight: 900;
}