body {
	background: rgb(37, 37, 37);
	color: white;
	padding: 2%;
}

pre {
	background-color: gray;
}

img {
	max-width: 90%;
}

.hint-etichetta, .etichetta {
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	font-size: 1.5rem;
	font-weight: bolder;
}

.container {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	margin: 0;
}

#tabellaDati .row:nth-child(odd) {
	background-color: rgb(110, 110, 110);
	padding: 5px;
	vertical-align: middle;
}

#immaginePreview img{
	width: 100%;
	display: none;
}

#bottoniFoto button {
	margin-top: 10px;
	margin-right: 10px;
}

#bottoniFoto {
	margin-bottom: 20px;
}

#hints-etichette {
	max-height: 250px;
	overflow: scroll;
}

div::-webkit-scrollbar {
	display: none;
}

#tabellaDati {
	display: grid;
	grid-template-columns: 1fr 2fr;
}